body {
  background: black;
  color: white;
}
.list-group-item, .card-body {
  background: #333 !important;
}
.alert-success {
  background-color: #155724;
  color: #d4edda;
  border-color: transparent;
}
.alert-danger {
  background-color: #721c24;
  color: #f8d7da;
  border-color: transparent;
}
.alert {
  margin-top: 20px;
}
.add-button {
  float: left;
  margin: 10px 10px 10px 0px;
}
.tracksource {
  float: right;
  text-transform: uppercase;
}