<!doctype html>
<html ng-app="partyApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Party!</title>

    <link href="vendors/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <script type="text/javascript" src="/mopidy/mopidy.min.js"></script>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
  </head>
  <body ng-controller="MainController">
    <div class="container-fluid" style="margin-top:20px">
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="btn" ng-click="togglePause()" ng-disabled="!ready" ng-class="{'btn-success' : currentState.paused, 'btn-danger': !currentState.paused}">
            <span class="glyphicon glyphicon-pause" ng-class="{'glyphicon-play': currentState.paused, 'glyphicon-pause' : !currentState.paused}"></span>
          </button>
          <button type="button" class="btn btn-primary" ng-click="nextTrack()" ng-disabled="!ready">
            <span class="glyphicon glyphicon-fast-forward"></span>
          </button>
          <p><small>
            <span class="glyphicon glyphicon-equalizer" ng-if="currentState.length  >  0"></span>
            <span class="glyphicon glyphicon-alert"     ng-if="currentState.length === 0"></span>
            {{ currentState.length }} track{{ currentState.length > 1 ? 's' : '' }}
          </small></p>
        </div>
        <div class="col-xs-8">
          <div class="well well-sm">
            {{ currentState.track.name }} <small>{{ printDuration(currentState.track) }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form ng-submit="search()">
            <input type="text" role="search" class="form-control" placeholder="Search..." ng-model="searchField" ng-disabled="!ready">
          </form>
          <div ng-show="loading" class="container-fluid">
            <p><span class="glyphicon glyphicon-hourglass"></span> Loading...</p>
          </div>
        </div>
      </div>

      <div class="alert" role="alert" ng-show="message.length" ng-class="{'alert-success' : (message[0] == 'success'), 'alert-danger' : (message[0] == 'error')}">
        {{ message[1] }}
      </div>

      <ul class="list-group" style="margin-top:20px">
        <li class="list-group-item" ng-repeat="track in tracks">
          <button type="button" class="btn btn-xs btn-success add-button" ng-click="addTrack(track)" ng-disabled="track.disabled">
            <span class="glyphicon glyphicon-play" ng-if="!track.disabled"></span>
            <span class="glyphicon glyphicon-ok"   ng-if="track.disabled"></span>
          </button>
          {{ track.name }} <small>{{ printDuration(track) }}</small><br>
          <small>
            {{ track.album.name }}
            <span ng-if="track.artists">by</span>
            <span ng-repeat="artist in track.artists">
              <span ng-if="!$first"> & </span>
              {{ artist.name }}
            </span>
          </small>
        </li>
      </ul>
    </div>
  </body>
</html>
